@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  display: flex;
}

.nav-link,
.nav-link:hover {
  color: #242f51;
  padding-left: 1rem;
}

.nav-link:hover {
  transition: transform 0.5s ease;
  border: 1px #242f51 solid;
  border-radius: 10px;
  color: #fff;
  background-color: #242f51;
}

.hero {
  margin: 2rem 0;
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .hero {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .hero__image {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero__image {
    width: 75%;
    margin: 0 auto;
  }
}
.hero__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  color: #242f51;
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero__title {
    font-size: 30px;
    line-height: 43.2px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .hero__title {
    font-size: 36px;
    line-height: 50.4px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero__title {
    font-size: 42px;
    line-height: 57.6px;
  }
}
.hero__description {
  color: #616368;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 480px) {
  .hero__description {
    font-size: 12.6px;
    line-height: 16.8px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hero__description {
    font-size: 13.5px;
    line-height: 19.2px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .hero__description {
    font-size: 14.4px;
    line-height: 21.6px;
  }
}

.button {
  width: 170px;
  height: 55px;
  background-color: #f55767;
  border-radius: 50px;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 480px) {
  .button {
    width: 119px;
    height: 38.5px;
    font-size: 11.2px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .button {
    width: 136px;
    height: 44px;
    font-size: 12.8px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .button {
    width: 153px;
    height: 49.5px;
    font-size: 14.4px;
  }
}

.card {
  border: 1px solid transparent;
}
.card__image {
  width: 88px;
  height: 88px;
}
@media (max-width: 480px) {
  .card__image {
    width: 61.6px;
    height: 61.6px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .card__image {
    width: 70.4px;
    height: 70.4px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .card__image {
    width: 79.2px;
    height: 79.2px;
  }
}
.card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
}
.card__title-1 {
  color: #f55767;
}
.card__title-2 {
  color: #2563ff;
}
.card__title-3 {
  color: #40975f;
}
@media (max-width: 480px) {
  .card__title {
    font-size: 14px;
    line-height: 33.6px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .card__title {
    font-size: 16px;
    line-height: 38.4px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .card__title {
    font-size: 18px;
    line-height: 43.2px;
  }
}
.card__description {
  font-size: 16px;
  line-height: 24px;
  color: #616368;
}
@media (max-width: 480px) {
  .card__description {
    font-size: 11.2px;
    line-height: 16.8px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .card__description {
    font-size: 12.8px;
    line-height: 19.2px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .card__description {
    font-size: 14.4px;
    line-height: 21.6px;
  }
}

.section {
  margin: 3rem 0;
}
@media (min-width: 480px) and (max-width: 767px) {
  .section {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .section {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .section__image {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .section__image {
    width: 75%;
    margin: 0 auto;
  }
}
.section__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  color: #242f51;
}
@media (max-width: 480px) {
  .section__title {
    font-size: 14.4px;
    line-height: 28.8px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .section__title {
    font-size: 18px;
    line-height: 36px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .section__title {
    font-size: 21.6px;
    line-height: 43.2px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .section__title {
    font-size: 25.2px;
    line-height: 50.4px;
  }
}
.section__description {
  color: #616368;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 480px) {
  .section__description {
    font-size: 11.2px;
    line-height: 16.8px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .section__description {
    font-size: 12px;
    line-height: 19.2px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .section__description {
    font-size: 12.8px;
    line-height: 21.6px;
  }
}

footer {
  background-color: #242f51;
  color: #fff;
  height: 378px;
}
footer .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
}
@media (max-width: 480px) {
  footer .title {
    font-size: 21px;
    line-height: 33.6px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  footer .title {
    font-size: 22.5px;
    line-height: 38.4px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  footer .title {
    font-size: 24px;
    line-height: 43.2px;
  }
}
footer .links {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  width: 70%;
  margin: 1.5rem 0;
}
@media (max-width: 480px) {
  footer .links {
    font-size: 11.2px;
    line-height: 33.6px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  footer .links {
    font-size: 12px;
    line-height: 38.4px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  footer .links {
    font-size: 12.8px;
    line-height: 43.2px;
  }
}
footer .links a {
  text-decoration: none;
  color: #fff;
}
footer .icons .fa-brands {
  font-size: 40px;
  margin: 1.2rem;
}
@media (max-width: 480px) {
  footer .icons .fa-brands {
    font-size: 16px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  footer .icons .fa-brands {
    font-size: 24px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  footer .icons .fa-brands {
    font-size: 27.2px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  footer .icons .fa-brands {
    font-size: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
